body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: lightblue;
  width: 100%;
}

#header_form_container {
  padding: 10px;
}

#send_button {
  margin-top: 2px;
  margin-bottom: 5px;
  vertical-align: center;
}

nav {
  background-color: #5bc0de;
}

a .index {
  margin-right: 5px;
}

main {
  display: flex;
  align-items: stretch;
}


#aside_featured_img {
  width: 50%;

  overflow: hidden;
  height: 770px;
}

#featured_img {
  width: auto;
  height: auto;
  max-width: 790px;
  max-height: 660px;
}


#elems_index {
  width: 50%;
  border-left: 2px solid;
}

#featured_elem_title {
  padding-left: 10px;
}

#elems_container {
  height: calc(100vh - 260px);
  overflow-y: auto;
  background-color: red;
}

p.featured_elem {
  padding-left: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

img.featured_list_image {
  
}

a.elem_title {
  margin-left: 15px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  background-color: lightblue;
}
